.gc-property-view.gc-workout-exercise-prop
  a.gc-toggle-edit-mode(href='#')
    .btn-group.gc-property-view.gc-property(role='group')
      button.btn.btn-sm.btn-primary.gc-custom.gc-property-label
        i.gc-icon-bars
        | &nbsp;
        span.gc-property-value-name-label.draggable-handle
      button.gc-remove.btn.btn-sm.btn-primary.gc-custom
        i.glyphicon.glyphicon-remove
