.col-lg-12.flex-column
  .right-side
    button.btn.btn-primary.gc-custom.personal-best-check(data-toggle='tooltip', data-placement='top', title='Enter your personal best by clicking this icon')
      | Personal best
    region(data-name="exercise_properties")
    button.gc-icon-trash.delete-button