.modal-dialog.modal-md.gc-presets-wizard
  .modal-content.gc-remove-modal
    .modal-header.presets-modal-header
      i.enveloper-icon
      h4.modal-title.preset-modal-title
        | Choose some workout programs
    .modal-body.program-body
      h1.program-title
        | Program Selection
      span
        | To get started, we recommend preloading your library with exercises, workouts, and programs. Select a fitness program below.
      region.account-type-list-region(data-name='presets')
    .modal-footer.program-footer
      span
        | Also, you can use Global Search to find specific exercises, workouts, or programs.
      a.btn.btn-primary.gc-custom.program-prev-btn.prev
        | Previous
      a.btn.btn-primary.gc-custom.program-next-btn.next
        | Next
      a.btn.btn-primary.gc-custom.program-next-btn.skip
        | Skip