.gc-sidebar-cat
  a.row.toggle-menu(href='#welcome')
    span.col-xs-2
      span.gc-sidebar-cat-icon.fix-bg-img-icon-dashboard
    span.col-xs-10.gc-sidebar-cat-name
      | Dashboard

region(data-name='pro')

region(data-name='workout_exercises')
region(data-name='personal_warmups')
region(data-name='personal_workouts')
region(data-name='personal_cooldowns')
region(data-name='personal_programs')

//-if !isPro
  .gc-sidebar-cat
    a.row.toggle-menu(href='#calendar/')
      span.col-xs-2
        span.gc-sidebar-cat-icon.fix-bg-img-icon-calendar
      span.col-xs-10.gc-sidebar-cat-name
        | Calendar

.gc-sidebar-cat
  a.row.toggle-menu(href='#videos')
    span.col-xs-2
      span.gc-sidebar-cat-icon.fix-bg-img-icon-videogallery
    span.col-xs-10.gc-sidebar-cat-name
      | Video Library