region(data-name='event_exercises')
.gc-workout-enter-result-view
  footer.workout-enter-footer
    region(data-name='comments')

.gc-box-content
  .gc-workout-enter-bottom-btns
    button.btn.btn-danger.gc-action-button.type-delete
      | Remove all results
    button.btn.btn-primary.gc-custom.finish
      | Finished