.modal-dialog.modal-md
  .modal-content.gc-remove-modal
    .modal-header
      button.close(data-dismiss='modal')
        span Close
      h4
        span
          img(src=require('app/images/icon-cross.png'), alt='')
        .title
    form.form.group-form(role='form')
      .modal-body.gc-rm-text.text-center
        p.gc-centered
      .modal-footer.gc-rm-buttons
        table.gc-centered
          tbody
            tr
              td
                button.btn.btn-primary.cancel(data-dismiss='modal')
                  | Cancel
              td
                button.btn.btn-danger.confirm(data-dismiss='modal')
