.page-wrap
  header.gc-header-standard.gc-header-login
    .container
      .col-xs-12.col-sm-6.gc-login-form-wrapper
        h1.text-center
          | Confirming Registration
        form.gc-reset-password-form(role='form')
          p.gc-forgot-password-text
            | Your Account Is Being Confirmed, Please Wait...
