.page-wrap
  header.gc-header-standard.gc-header-login
    .container
      .col-xs-12.col-sm-6.gc-login-form-wrapper
        h1.text-center  
        form.gc-reset-password-form(role='form')
          .gc-reset-password-img-wrapper
            img.gc-reset-password-image(src=require('app/images/reset-password-success.png'))
          p.gc-reset-password-text
            | Your password recovery instructions were
            br
            | sent to your email.
          .form-group.row
            .col-xs-12.text-center
              a.btn.btn-default.gc-form-submit-button(href='#login')
                | Back to login
