header.gc-header-standard.gc-header-login
  .container
    .col-xs-12.col-sm-6.gc-login-form-wrapper
      h1.text-center
        | Forgot your password?
      form.gc-forgot-password-form(role='form')
        p.gc-forgot-password-text
          | Please enter your email address below and
          br
          | we'll email you instructions on how to reset your password.
        .form-group
          label(for='forgotEmail')
            | Email address
          input#forgotEmail.form-control.gc-forgot-password-email(type='text', name='email', placeholder='Enter email')
          label.gc-error-message
        .form-group.row
          .col-xs-12.text-right
            a.gc-cancel-forgot-password(href='#login')
              | Cancel
            button.btn.btn-default(type='submit')
              | Send
