.page-wrap
  header.gc-header-standard.gc-header-login
    .container
      .col-xs-12.col-sm-6.gc-login-form-wrapper
        h1.text-center
          | Reset Password
        form.gc-reset-password-form(role='form')
          p.gc-forgot-password-text
            | Please enter your new password in a boxes below
          .form-group
            label(for='password-input')
              | New Password
            input#password-input.form-control(type='password', name='password')
            label.gc-error-message
          .form-group
            label(for='confirm-password-input')
              | Confirm New Password
            input#confirm-password-input.form-control(type='password', name='password_confirmation', autocomplete='off')
            label.gc-error-message
          .form-group.row
            .col-xs-12.text-right
              button.btn.btn-default(type='submit')
                | Submit
