.payments

  .gc-content-nav li
    margin: 0
    padding: 2px 7px

  .gc-workspace-content
    height: 100%

  .payment-details
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin: 15px

    .subscription-wrapper
      width: calc(60% - 15px)

    .payment-methods-wrapper
      width: 40%

    .title
      font-size: 16px
      font-weight: 600
      margin-bottom: 15px

.flex-form
  display: flex
  flex-direction: column
  align-items: center

.center-content-flex
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.space-filler
  flex-grow: 1

.bg-white
  background-color: white

.payment-page

  form.payment-info
    padding: 30px 40px

  .trial-ended-img-mock
    background-image: url(../../images/prototypes/trial-ended.png)
    height: 232px
    width: 443px
  
  .trial-ended-price
    color: #0074d9
    font-weight: 700
    text-align: center
    margin-bottom: 15px
    
    .currency
      font-size: 20px
      font-weight: 700
    
    .price
      margin: 0 8px
      font-size: 40px
      vertical-align: -15px
      font-family: Arial
    
    .term
      font-size: 20px

  .padding-block
    height: 45px

  p.enter-payment-info
    font-size: 1em
    padding: 0px 70px
    text-align: center

.trial-ends-soon
  display: flex
  align-items: center
  width: 890px
  height: 100px
  background-color: #fafafa
  border: 1px solid #eaeaea
  border-radius: 7px

  .trial-ended-img-mock
    background-image: url(../../images/prototypes/trial-ends-soon.png)
    height: 68px
    width: 102px
    margin-left: 32px
    margin-right: 20px

  .reminder
    h4
      font-weight: bold

  .update-payment-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .gc-custom
      margin: 0

  .close-block
    align-self: flex-start
    color: #e8e8e8
    font-size: 22px
    cursor: pointer
    margin-right: 10px
    margin-top: 2px
    margin-left: 50px
