a
  cursor: pointer

a,
input,
button,
.btn,
span
  outline: none
  &:hover,
  &:active,
  &:focus,
  &:active:focus,
  &.hover,
  &.active,
  &.focus
    outline: none
    text-decoration: none

.selectize-input > input
  width: 100% !important

.selectize-dropdown-content
  button.clickable
    line-height: 1
    padding: 3px 5px
    margin-left: 10px

.pika-single
  position: absolute !important

  .pika-button:hover
    background: #257fcc
