#clientpage-nav-region
  background: #3a99d8
  height: 78px
  margin: 0 -15px

.gc-clientpage-nav-title
  font-size: 21px
  color: #fff
  text-align: left
  text-transform: uppercase
  margin: 0
  margin-left: 20px
  line-height: 78px
  font-weight: bold

#clientpage-nav-region >div > div
  padding: 0

#clientpage-content-region
  background: #fff
  min-height: 100%
  margin: 0 -15px

#clientpage-content-region .gc-main-workspace.row
  margin-left: 0px
  margin-right: 0px

.gc-clientpage-sidebar
  position: relative

.gc-clientpage-exercises h2
  text-transform: uppercase
  color: #757575
  font-size: 21px
  font-weight: 700
  margin: 30px 25px 20px

.gc-clientpage-calendar-nav-title
  text-transform: uppercase
  color: #757575
  font-size: 21px
  font-weight: 700
  margin: 30px 40px 20px 40px

.gc-clientpage-nav-tabs
  margin: 18px 0 0 10px
  padding: 0
  font-size: 0

.gc-clientpage-nav-tabs li
  display: inline-block
  list-style-type: none
  font-size: 12px
  padding: 0

.gc-clientpage-nav-tab
  display: inline-block
  color: #fff
  background: transparent
  text-transform: uppercase
  line-height: 16px
  height: 43px
  padding: 12px 5px
  border-radius: 10px 10px 0 0

.gc-clientpage-nav-tab.active
  color: #3a99d8
  background: #fff
  text-decoration: none

.gc-clientpage-nav-tab.active:hover
  background: #fff
  color: #3a99d8

.gc-clientpage-nav-tab:hover,
.gc-clientpage-nav-tab:active
  text-decoration: none
  background: #3a99d8
  color: #fff

.gc-clientpage-nav-tab > span
  display: inline-block
  margin: 0 1px
  font-size: 17px
  line-height: 16px
  vertical-align: middle

.gc-clientpage-nav-tab-icon
  height: 18px
  width: 18px
  background: transparent left 50% no-repeat
  background-size: cover

.gc-clientpage-nav-tab-icon-e
  background-image: url('../images/icon-exercises.png')
  background-size: 230%
  background-position: -2px 50%

.gc-clientpage-nav-tab-icon-w
  background-image: url('../images/icon-workouts.png')

.gc-clientpage-nav-tab-icon-p
  background-image: url('../images/icon-programs.png')

.gc-clientpage-nav-tab-icon-c
  background-image: url('../images/icon-calendar.png')
  background-size: 230%
  background-position: -3px 50%

.gc-clientpage-nav-tab.active .gc-clientpage-nav-tab-icon-e
  background-position: -23px 50%

.gc-clientpage-nav-tab.active .gc-clientpage-nav-tab-icon-w
  background-position: right 50%

.gc-clientpage-nav-tab.active .gc-clientpage-nav-tab-icon-p
  background-position: right 50%

.gc-clientpage-nav-tab.active .gc-clientpage-nav-tab-icon-c
  background-position: -24px 50%

.gc-clientpage-nav-trainer-wrapper
  text-align: right

.gc-clientpage-nav-trainer-wrapper > .row
  margin: 0

.gc-clientpage-nav-trainer-wrapper > .row > div
  padding: 0

.gc-clientpage-nav-trainer-avatar-block
  display: inline-block
  vertical-align: top
  margin: 0 10px 0 10px

.gc-clientpage-nav-trainer-message-wrapper,
.gc-clientpage-nav-trainer-action-wrapper
  display: inline-block
  vertical-align: top
  margin-right: 10px

.gc-clientpage-nav-trainer-message-wrapper
  line-height: 78px
  padding: 0 10px

.gc-clientpage-nav-trainer-action-wrapper p
  color: #fff
  font-size: 14px
  margin: 18px 0 6px 0
  text-align: left

.gc-clientpage-nav-trainer-action-wrapper p span
  opacity: 0.5
  display: block

.gc-clientpage-nav-trainer-action-wrapper .gc-clientpage-trainer-name
  color: #fff
  opacity: 1

.gc-clientpage-nav-trainer-action-wrapper .btn
  border-color: #fff
  text-decoration: none
  border-radius: 20px
  font-size: 12px
  text-transform: uppercase
  color: #fff

.gc-clientpage-nav-trainer-action-wrapper .btn:hover
  color: #3a99d8
  background: #fff

.gc-clientpage-nav-trainer-avatar-wrapper
  border-radius: 100px
  height: 52px
  width: 52px
  background: #5da6dd url('../images/avatar-placeholder.png') 55% center no-repeat
  background-size: 80%
  border: 3px solid #5da6dd
  margin: 13px 0 0 0
  border-radius: 100px
  display: inline-block

.gc-clientpage-nav-trainer-avatar-wrapper img
  height: 46px
  width: 46px
  border-radius: 100px

.gc-clientpage-nav-trainer-avatar-wrapper img[src$='defaultimage.png'],
.gc-clientpage-nav-trainer-avatar-wrapper img[src='']
  display: none

.gc-clientpage-sidebar .gc-clientpage-sidebar-edit
  position: absolute
  text-transform: uppercase
  font-size: 12px
  color: #fff
  top: -10px
  left: 70%

.gc-clientpage-sidebar .gc-clientpage-sidebar-edit:hover,
.gc-clientpage-sidebar .gc-clientpage-sidebar-edit:focus,
.gc-clientpage-sidebar .gc-clientpage-sidebar-edit:active
  background: transparent

.gc-client-folder-icon
  margin: 0 9px 0 0

.gc-client-item-icon
  display: inline-block
  width: 18px
  height: 30px
  margin: 0 4px 0 0
  vertical-align: middle

.gc-client-item-icon-exercises
  background: transparent url('../images/icon-exercises.png') -22px 2px no-repeat
  background-size: 200%
  width: 20px
  margin-right: 2px

.gc-client-item-icon-workouts
  background: transparent url('../images/icon-workouts.png') -15px 3px no-repeat
  background-size: 180%

.gc-client-item-icon-programs
  background: transparent url('../images/icon-programs.png') -13px 4px no-repeat
  background-size: 170%

@media (min-width: 768px)
  .gc-clientpage-nav-tabs
    margin: 18px 0 0 3px

  .gc-clientpage-nav-tabs li
    padding: 0

  .gc-clientpage-nav-tab
    line-height: 16px
    height: 38px
    padding: 12px 5px
    border-radius: 10px 10px 0 0

  .gc-clientpage-nav-trainer-wrapper
    text-align: right

  .gc-clientpage-nav-trainer-avatar-block
    display: inline-block
    margin: 0 10px 0 0

@media (min-width: 992px)
  #clientpage-nav-region
    height: 78px

  .gc-clientpage-nav-tabs
    margin: 35px 0 0 10px

  .gc-clientpage-nav-tabs li
    padding: 0

  .gc-clientpage-nav-tab
    line-height: 16px
    height: 43px
    padding: 12px 10px
    border-radius: 10px 10px 0 0

@media (min-width: 1025px)
  .gc-clientpage-nav-tabs
    margin: 35px 0 0 40px

  .gc-clientpage-nav-tabs li
    padding: 0 2px

  .gc-clientpage-nav-tab
    line-height: 16px
    height: 43px
    padding: 12px 18px
    border-radius: 10px 10px 0 0

  .gc-clientpage-nav-tab > span
    margin: 0 1px
    font-size: 17px
    line-height: 16px

  .gc-clientpage-nav-tab-icon
    height: 18px
    width: 18px

  .gc-clientpage-nav-trainer-avatar-block
    margin: 0 10px 0 10px

  .gc-clientpage-nav-trainer-wrapper
    text-align: right

