.gc-resend-button-container,
.gc-resend-email-container
  padding: 10px

.gc-resend-button-container .btn
  width: 100%

.gc-resend-success
  padding: 12px

.gc-resend-error-text
  color: #DC143C
  display: block
  padding-top: 10px
