.fix-img
  &-logo-hor
    content: url('../images/gymcloud-logo-horizontal.png')
  &-icon-individuals
    content: url('../images/icon-individuals.png')
  &-gymcloud-logo
    content: url('../images/gymcloud-logo.png')
  &-icon-dnd
    content: url('../images/icon-dnd.png')
  &-reset-password-success
    content: url('../images/reset-password-success.png')

.fix-bg-img
  &-icon-dashboard
    background-image: url('../images/icon-dashboard.png')
  &-icon-exercises
    background-image: url('../images/icon-exercises.png')
  &-icon-workouts, &-icon-workout_templates
    background-image: url('../images/icon-workout-2.png')
  &-icon-warmups
    background-image: url('../images/icon-warmups.png')
  &-icon-cooldowns
    background-image: url('../images/icon-cooldowns.png')
  &-icon-programs, &-icon-program_templates
    background-image: url('../images/icon-programs.png')
  &-icon-clients
    background-image: url('../images/icon-clients.png')
  &-icon-individuals
    background-image: url('../images/icon-individuals.png')
  &-icon-groups
    background-image: url('../images/icon-groups.png')
  &-icon-properties
    background-image: url('../images/icon-properties.png')
  &-icon-calendar
    background-image: url('../images/icon-calendar.png')
  &-single-exercises
    background-image: url('../images/exercises-single.png')
  &-single-workouts
    background-image: url('../images/workouts-single.png')
  &-single-programs
    background-image: url('../images/programs-single.png')
  &-icon-videogallery
    background-image: url('../images/icon-videogallery.png')
