.clearfix:after
  content: " "
  display: block
  clear: both

.capitalize
  text-transform: uppercase

.gc-preset-modal
  background: #fff
  width: 550px
  min-width: 550px
  margin: 0 auto
  border: none

  .close[data-dismiss="modal"]
    text-shadow: none
    font-size: 12px
    margin-top: 10px
    color: #fff
    opacity: 0.7
    font-weight: normal

    &:hover
      opacity: 0.9

  p
    color: #999999
    font-size: 13px

  .btn
    border-color: #3a99d8
    border-radius: 50px
    min-width: 70px
    outline: none
    text-decoration: none

    &.btn-link
      border: none
      min-width: 70px

  .gc-bg-primary
    background: #3a99d8

    .btn
      border-color: #fff
      border-radius: 50px
      min-width: 70px
      outline: none
      text-decoration: none

    &:hover
      border-color: #fff
      background: #fff
      color: #3a99d8

    > *
      color: #fff

  .modal-body
    margin: 0
    padding: 0
    border: none

  .gc-preset-body
    padding: 30px 40px

  .gc-preset-header,
  .gc-preset-footer
    padding: 15px 20px

  .gc-preset-footer
    text-align: right

  .gc-step
    display: none

    &.active
      display: block

  .title
    margin: 10px 0
    font-size: 17px
    line-height: 22px

  .gc-preset-header .title
    margin: 10px 20px

  .gc-modal-options
    list-style-type: none
    margin: 0
    padding: 10px 0

    > li
      padding: 10px 0
      color: #999999
      font-size: 15px

      input[type="checkbox"]
        margin-right: 10px

  .gc-preset-intro

    > .gc-preset-body
      padding-bottom: 0

    > .gc-preset-body .title
      font-size: 21px
      text-align: center
      margin: 20px 0

    > .gc-preset-body .gc-preset-desc
      font-size: 17px
      line-height: 22px
      color: #fff
      padding-right: 20px

    > .gc-preset-body .row > div.col-sm-6:last-child
      margin-top: 40px

    > .gc-preset-body
      padding-left: 0
      padding-right: 0

    > .gc-preset-footer
      padding: 30px 0 40px
      text-align: center

    > .gc-preset-footer > p
      max-width: 70%
      margin: 20px auto

  .gc-preset-intro > .gc-preset-footer a,
  .gc-preset-step1 > .gc-preset-footer a
    margin-right: 5px

  .gc-preset-step1 > .gc-preset-header,
  .gc-preset-step2 > .gc-preset-header
    padding-bottom: 0
    padding-left: 10px

  .gc-preset-success

    > .gc-preset-body
      text-align: center

      > *
        margin-top: 20px
        margin-bottom: 20px

      > .title
        font-size: 23px
        line-height: 30px
        margin-top: 20px
        margin-bottom: 20px

  //.modal-header
    //padding: 0

  //.modal-header img
    //width: 100%

  //.modal-body .gc-step-title-container
    //margin-top: 38px

  //.modal-body h4.gc-step-title
    //color: #333333
    //text-align: center

  //.gc-preset-footer-intro
    //text-align: center
    //padding: 25px 0 50px

  //.gc-preset-footer-intro .btn-link
    //font-size: 15px
    //text-transform: uppercase
    //text-decoration: none
    //border: 1px solid #3a99d8
    //border-radius: 50px
    //text-align: center
    //line-height: 16px
    //padding: 10px 27px
    //margin-left: 10px

  //.modal-body .gc-preset-step-1
    //padding: 0 35px

  //.modal-body .gc-preset-step-1 h4.gc-step-title
    //font-weight: bold
