@font-face
  font-family: 'KievitPro-Regular'
  src: url('../fonts/KievitPro-Regular.eot')
  src: local('☺'), url('../fonts/KievitPro-Regular.woff') format('woff'), url('../fonts/KievitPro-Regular.ttf') format('truetype'), url('../fonts/KievitPro-Regular.svg') format('svg')
  font-weight: normal
  font-style: normal

body.auth
  height: 100vh
  background: #121827 url('../images/header-login.png') no-repeat
  background-size: cover
  overflow: auto

.page-wrap
  height: 100%
  min-height: 100%

  &:after
    content: ""
    display: block

  *
    font-family: 'KievitPro-Regular', Helvetica, Arial

  .fa
    font-family: 'FontAwesome'

  .glyphicon
    font-family: 'Glyphicons Halflings'

.gc-landing
  background: rgba(18,24,39,1)

  .page-wrap
    min-height: 100%
    margin-bottom: 0px

.gc-header-standard
  background: rgba(18,24,39,1)

  & > .container
    min-height: 40px

.gc-blog-slider
  min-height: 540px
  max-height: 540px

  .carousel-indicators
    display: none

.gc-header-login
  background: transparent
  margin-top: 55px

  & > .container
    min-height: 0px
    height: 100%

.gc-login-form-wrapper
  margin: 2% auto 0
  float: none
  max-width: 510px
  padding: 0

  & > h1
    display: flex
    justify-content: center
    margin: 0
    padding: 10px 25px
    border-radius: 5px 5px 0 0
    background: #257fcc
    color: #fff
    font-size: 18px
    font-weight: bold

    .gc-content-nav-back
      cursor: pointer

    span
      flex-grow: 10
      text-align: center

  form
    background: #fff
    padding: 10px 15px
    border-radius: 0 0 5px 5px

    .form-group
      padding: 0 15px
      position: relative

    label
      font-size: 13px
      font-weight: normal
      color: #a6a7aa
      font-weight: 400

    .checkbox
      label
        font-size: 12.5px
        color: #a6a7aa

      input
        margin: 3px 0 0 -18px

    .form-control
      height: 45px
      font-size: 16px

    .gc-invalid .checkbox
      @keyframes blink
        0%
          color: #ff560a
        100%
          color: #a6a7aa

      label
        animation: blink 1s linear infinite

    [type=submit],
    .gc-form-submit-button
      color: #3a99d8
      padding: 10px 28px
      border-radius: 50px
      font-weight: bold
      text-transform: uppercase
      border: 2px solid #3a99d8
      margin-top: 20px
      font-size: 18px
      line-height: 24px

      &:hover,
      &:focus,
      &:active,
        background: transparent
        outline: none

      &:hover
        background-color: #3a99d8
        color: #fff

.gc-login-social
  margin: 0

  & > div
    padding: 5px 0

  .btn
    font-size: 15px
    color: #fff
    padding: 12px 18px
    border-radius: 50px

    .fa
      font-size: 18px
      position: relative
      bottom: -2px
      margin-right: 1rem

  .btn-danger
    background-color: #dd4b39

  .btn-primary
    background-color: #1f57b5

.form-group-radio.gc-invalid label
  color: #ff560a

.gc-login-signup-wrapper
  color: #a6a7aa
  margin-top: 25px

  a
    color: #3a99d8

.forgot-password-link
  font-size: 13px

.gc-forgot-password-text
  font-size: 15px
  line-height: 17px
  color: #404447
  text-align: center
  margin: 30px 0 35px 0

.gc-cancel-forgot-password
  font-size: 15px
  line-height: 48px
  height: 48px
  margin: 20px 10px 0 0
  color: rgba(64, 68, 71, 0.5)
  text-transform: uppercase
  display: inline-block
  vertical-align: top

.gc-trainer-type-wrapper,
.gc-signup-checkbox-wrapper
  margin: 25px 0 40px 0
  padding: 0

  li
    display: inline-block
    padding: 0
    text-align: center

.gc-trainer-type,
.gc-signup-checkbox
  border: 1px solid #C9C9C9
  border-radius: 3px
  width: 132px
  height: 131px
  margin: 0
  transition: all 0.3s linear 0.05s

  &:hover
    cursor: pointer

  &.active
    border-color: #5db0f4
    box-shadow: inset 0 0 4px 0 #5db0f4

  span
    font-size: 13px
    line-height: 15px
    color: #404447
    margin-top: 75px
    display: inline-block
    font-weight: normal

  input
    display: none

.gc-trainer-type-not span,
.gc-signup-checkbox-not span
  margin-top: 65px

.gc-signup-checkbox
  width: 90%
  height: 85px

  span
    margin-top: 28px
    float: right
    font-size: 15px
    color: #434343
    text-align: left
    width: 47%

.gc-have-trainer-icon
  background: transparent url('../images/have-trainer.png') 17% center no-repeat

.gc-not-have-trainer-icon
  background: transparent url('../images/not-have-trainer.png') 17% center no-repeat

.gc-have-trainer-icon,
.gc-not-have-trainer-icon
  span
    width: 51%

.gc-user-type-trainer
  background: transparent url('../images/signup-type-1.png') 30% center no-repeat

.gc-user-type-client
  background: transparent url('../images/signup-type-3.png') 30% center no-repeat

.gc-trainer-type-personal
  background: transparent url('../images/signup-type-1.png') 50% 20px no-repeat

.gc-trainer-type-couch
  background: transparent url('../images/signup-type-2.png') 50% 20px no-repeat

.gc-trainer-type-not
  background: transparent url('../images/signup-type-3.png') 50% 20px no-repeat

.gc-not-trainer-message,
.gc-matching-trainer-message
  text-align: center
  font-size: 16px
  color: #434343
  margin-bottom: 40px

.gc-finish-btn
  min-width: 200px
  margin-bottom: 40px

.gc-back-btn,
.gc-invite-btn
  margin-bottom: 50px

.gc-almost-ready-icon
  display: block
  width: 60px
  height: 70px
  margin: 20px auto 30px
  background: url('../images/almost-ready.png') no-repeat

form .checkbox
  margin-top: 30px

.form-group input[type=radio]
  margin: 0

.gc-signup-with-email-title
  font-size: 13px
  text-align: center
  margin: 0 0 25px 0

.gc-trainer-invite-title
  font-size: 16px
  text-align: center
  margin: 0 0 25px 0

  .gc-have-trainer-icon
    margin: 30px auto 15px auto
    width: 52px
    height: 43px

#gc-signup-message .modal-body p
  font-size: 16px
  margin: 0

.gc-nav-top
  background: #121827
  z-index: 998

  & > .container
    position: relative

  .navbar-brand
    padding: 12px 15px

    img
      max-height: 27px

  .icon-bar
    background: white

.checkbox.gc-invalid span
  color: #ff560a

.gc-reset-password-img-wrapper
  text-align: center

.gc-reset-password-image
  margin: 40px 0 30px

.gc-reset-password-text
  text-align: center
  margin-bottom: 20px

.invite-sent-icon
  width: 81px
  height: 55px
  margin: 82px auto 23px auto
  background: transparent url('../images/invite_sent.svg') no-repeat

.waiting-gymcloud-pro
  width: 62px
  height: 82px
  margin: 82px auto 23px auto
  background: transparent url('../images/waiting_gymcloud_pro.svg') no-repeat

.find-a-pro
  width: 66px
  height: 52px
  margin: 82px auto 23px auto
  background: transparent url('../images/find_a_pro.svg') no-repeat

.send-reminder
  margin: auto
  display: block
  border: none
  background: none
  font-size: 16px
  font-weight: 700
  text-align: center
  color: #0074d9

@media (min-width: 768px)
  .gc-nav-top
    position: absolute
    background: transparent

    .navbar-brand
      padding: 40px 15px 0 15px
      height: auto

      img
        max-height: 47px

    .navbar-header
      min-height: 110px

    .navbar-nav
      &.navbar-right
        margin-top: 35px

      & > li
        &:hover
          background: none

        & > a
          color: #3a99d8
          font-size: 17px
          padding: 14px 12px
          transition: .3s color

          &:hover,
          &:focus,
          &:active
            background: none
            color: white

          .glyphicon
            font-size: 12px

        &.active > a
          background: none
          color: white

  .gc-header-standard > .container
    min-height: 600px

  .gc-login-form-wrapper
    position: relative
    margin: 17% auto 0 auto

    & > h1
      padding: 25px

@media (min-width: 768px)
  .gc-header-login
    margin-top: 0

@media (min-width: 992px)
  .gc-login-social
    margin: 30px 0 30px 0

@media (min-width: 1200px)
  .gc-login-social .btn
    padding: 12px 27px