.gc-client-modal
  width: 470px

  .modal-header
    padding: 16px 15px 15px 26px

  .modal-footer
    padding-top: 28px
    padding-bottom: 35px

  .form-control
    border-radius: 5px

  .btn
    padding: 6px 22px

  .button-separate
    margin: 0 7px

input[type="email"]:placeholder-shown + .gc-valid-icon
  display: none