.gc-search-results-main
  height: 100%
  .gc-content-nav
    border-bottom: none

.gc-search-results-list
  padding: 0 5px

.gc-search-results-list 
  margin-bottom 0
  .row
    list-style-type: none
    border-bottom: 1px solid #ededed
    padding: 0 0 0 25px
    min-height: 73px
    
    >.col-xs-7,
    >.gc-search-entity-field
      display: flex
      align-items: center
    
    >.col-xs-7,
    >.gc-avatar-wrapper,
    >.gc-not-in-library
      min-height: inherit
    
    .gc-exercises-item-icon-program_templates
      height: 20px
    
    .gc-exercises-item-icon-workout_templates
      height: 18px
    
    .gc-exercises-item-icon-exercises,
    .gc-exercises-item-icon-client_templates
      background-size: 180%
      height: 18px
    
    .gc-clients-list-client-link
      padding-left: 0
      margin-left: 0
    
    .gc-clients-list-avatar-wrapper
      margin-right: 10px
    
    .gc-add-to-library-button
      margin: 0

.gc-search-results-list .row:hover
  background: #fbfbfb

.gc-search-results-list .row.gc-search-entity-group:hover
  background: none

.gc-search-results-list .row:hover .gc-not-in-library > .gc-entity-download-count
  display: none!important

.gc-search-results-list .row:hover .gc-not-in-library > .gc-add-to-library-button
  display: inline!important

.gc-add-to-library-button
  margin: 0

.gc-search-results-list .row.padding-0
  padding: 0

.gc-search-results-list .row > div
  padding: 0

.gc-search-results-list .gc-exercises-link
  color: #3a99d8
  text-transform: uppercase
  font-size: 14px
  line-height: 30px
  margin: 0
  display: inline-block

.gc-search-results-list .gc-exercises-link:hover,
.gc-search-results-list .gc-exercises-link:active,
.gc-search-results-list .gc-exercises-link:focus
  color: #282d30

.gc-search-results-list .gc-search-entity-group
  padding: 30px 0 0 25px

.gc-search-entity-group-header
  font-size: 18px
  color: #666

.gc-search-entity-field-header
  font-size: 12px
  text-align: left
  color: #ccc

.gc-search-entity-field
  text-align: left

.gc-search-entity-field .gc-entity-download-count
  display: inline-block
  padding: 15px 0
  margin: 10px 0

/* temporary while clients profile is not yet implemented */
.gc-clients-list-client-link,
.gc-clients-list-avatar-wrapper
  cursor: default

/*---------------------------------------*/


.gc-content-both
  padding: 0