.gc-trainer-list-icon
  display: inline-block
  width: 18px
  height: 30px
  margin: 0 10px 0 0
  vertical-align: middle

  &.exercises
    background: transparent url('../images/icon-exercises.png') -25px top no-repeat
    background-size: 210%
    width: 22px
    margin-right: 6px

  &.workouts
    background: transparent url('../images/icon-workouts.png') -15px 3px no-repeat
    background-size: 180%

  &.programs
    background: transparent url('../images/icon-programs.png') -13px 4px no-repeat
    background-size: 170%
