.modal-dialog.modal-md.account-type-modal.gc-presets-wizard.finish-modal
  h1.finish-title
    | Congratulations, you have successfully preloaded your GymCloud library!
  .finish-image
  span.finish-slogan
    | Are you ready to get serious?
  a.btn.btn-primary.gc-custom.change-account-type.finish-btn
    | Finish