.row.gc-nav-wrapper
  .col-sm-8
    span.gc-content-nav-back
      span.fa.fa-chevron-left
    region(data-name='breadcrumbs')
  .col-sm-4.text-sm-right
    button.gc-exercise-btn.gc-edit-exercise
      | Edit
    button.gc-exercise-btn.gc-save-exercise
      | Save
.gc-workspace-content
  region(data-name='page_content')