.user
  .avatar
    img
  .name

.profile-stats
  .height
    .title
      | Height
    .value
      span
      .units
        | IN

  .weight
    .title
      | Weight
    .value
      span
      .units
        | LB

  .bodyfat
    .title
      | Bodyfat
    .value
      span

  .age
    .title
      | Age
    .value
      span

  .gender
    .title
      | Gender
    .value
      span