header.workout-enter-header
  .row.flex-center-aligment
    .col-md-4.flex-center-aligment
      .avatar-section.clearfix
        .gc-workout-exercise-circle
      .details-section.clearfix
        a.gc-workout-exercise-name(href="#")
        span
    .col-md-8
      region(data-name="exercise_properties")
region(data-name="exercise_result_items")
region(data-name="new_exercise_result")
footer.workout-enter-footer
  .top-section
    button.add-btn.result-btn
      | Add New result
