.gc-modal

  .modal-content
    border-radius: 0

  .modal-header
    background: #3a99d8

    &.danger
      background: #d43f3a

    h4
      font-size: 18px
      color: #fff

      .title
        display: inline

      img
        height: 16px
        display: block

      span
        width: 16px
        height: 16px
        overflow: hidden
        display: inline-block
        position: relative
        top: 2px
        margin-right: 5px

        &.gc-modal-icon-lg
          width: 20px
          height: 20px
          top: 1px

        &.gc-modal-icon-lg img
          height: 22px
          display: block

        &.gc-modal-icon-sm
          top: 0
          width: 12px
          height: 11px

          img
            display: block
            height: auto

        &.icon-single-individual
          height: 20px
          width: 20px

          img
            display: block
            height: 20px

    .close
      font-size: 13px
      font-weight: normal
      color: #fff
      text-shadow: none
      opacity: 0.5
      margin: 6px 10px 0 0

  .modal-footer
    border: none
    padding: 8px 25px 15px 25px

    .btn
      font-size: 15px
      text-transform: uppercase
      background: #fff
      border-radius: 50px
      min-width: 50px

    .btn-link
      border: none
      font-size: 14px
      text-decoration: none

      &:hover
        background: #fff
        color: #3a99d8
        text-decoration: none

    .btn-primary
      color: #3a99d8
      border-color: #3a99d8

      &:hover
        background: #3a99d8
        color: #fff

  .modal-body
    border: none
    padding: 15px 25px 0 25px

    .img
      margin-top: 60px
      text-align: center

    .description
      margin: 30px 0 60px 0
      font-size: 16px
      text-align: center

  label
    color: #3a99d8
    font-size: 15px
    font-weight: normal
    line-height: 15px
    min-height: 15px

    span
      color: #808080
      cursor: pointer

  input[type=radio]
    position: relative
    top: -1px
    right: 5px

  input[type=text],
  input[type=date],
  textarea
    border-color: #cbd4d7
    font-size: 15px

  .input-group-addon
    background: #fff
    font-size: 12px
    color: #3a99d8
    border-color: rgba(51,152,219,0.4)

  textarea
    min-height: 8em
    border-color: #cbd4d7

  .btn-danger
    color: #d9534f
    border-color: #d43f3a

    &:hover
      background: #d9534f
      color: #fff
