.row.row-margin-v
  .col-md-12
    span.description

.row
  .col-md-12
    span.note

.row
  region(data-name='program_weeks')

.row
  region(data-name='program_workouts')

.row
  region(data-name='program_empty')