.row.gc-nav-wrapper
  .col-sm-12
    a.gc-content-nav-back
      span.fa.fa-chevron-left
    region(data-name='breadcrumbs').gc-content-breadcrumbs
.gc-workspace-content
  region(data-name='page_content')
