:local .client_assessment

  .buttons
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
    padding: 10px 20px 0 20px
    border-top: 1px solid #e5e5e5

    &:before,
    &:after
      display: none

    .assessment_progress
      display: flex
      flex-direction: column

    .next
      margin: 0
      border-width: 2px
      font-size: 18px
