.row.gc-exercise-header-wrapper
  .col-md-12.gc-exercise-header
    region(data-name='author_widget')
.row
  .col-md-8.col-md-offset-2
    region(data-name='video_assigned')
    textarea.gc-exercise-description(readonly='readonly')