.row.gc-nav-wrapper.without-shadow
  .col-sm-8
    a.gc-content-nav-back
      span.fa.fa-chevron-left
    region(data-name='breadcrumbs')
  .col-xs-12.col-sm-4.text-sm-right
    region(data-name='navigation_content_tabs')

.gc-workspace-content
  region(data-name='page_content')
