.modal-dialog.modal-md.gc-upload-video-modal
  .modal-content.gc-remove-modal
    .modal-header
      button.close
        | Close
      h4.modal-title
        span
          img(src=require('app/images/upload-icon.png'), alt="")
        | Upload Video
    .modal-body
      .gc-video-upload
        h5
          | Drop your media files here or
        button.btn.btn-primary.gc-custom.gc-upload-trigger.btn-sm
          | Upload from Computer
        input.gc-video-upload-control.hidden(type='file', name='file', accept='video/*')

      .gc-video-item-upload.hidden
        .row
          .col-xs-6
            h5.gc-video-file-name(contenteditable='true')
            .gc-progress-panel
              label.gc-progress-text
                | 0%
              .gc-progress-bar
                .gc-progress(style='width:0%;')
          .col-xs-6.text-right.gc-video-controls.hidden
            h5.gc-upload-options
              img.gc-update-name.gc-upload-icon(src=require('app/images/icon-pencil.png'))
              img.gc-delete-video.gc-upload-icon(src=require('app/images/icon-trash.png'))
    .modal-footer
      .row
        .col-xs-12
          button.btn.btn-primary.gc-custom.pull-right.gc-footer-btn.gc-cancel-video-upload
            | Cancel
