.btn-group.clearfix.gc-property.editable.gc-exercise-property-input
  region.select-box(data-name="properties_select_box")
  button.btn.btn-sm.btn-primary.gc-custom.gc-property-value-container
    span.gc-property-value(contenteditable='true')
    region(data-name="property_unit_selector")
  button.btn.btn-sm.btn-primary.gc-custom.gc-remove
    | ×
