.gc-splash-control
  .gc-splash-description
    img(src=require('app/images/icon-folder.png'))
    p
      | You dont have 
      br
      | anything inside this folder.
  .gc-splash-btn-container
    a.btn.btn-link.gc-show-add-exercise-modal
      span.fa.fa-plus
      | Add #{singularName}
