.col-xs-8.col-sm-8.col-md-8.col-lg-9
  .counters
    .counter-group
      span.counter.weeks
      span.counter-name
        | Weeks
    .counter-group
      span.counter.workouts
      span.counter-name
        | Workouts
.widgets.col-xs-4.col-sm-4.col-md-4.col-lg-3
  region(data-name='print_button')
  button.btn.btn-warning
    | Edit
