:local .overview
  margin: 0 15px 15px 15px

  &:global(.gc-box-content)
    margin: 0
    padding: 0

  &.nonexistent
    height: 100%

  .empty
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    text-align: center
    color: #c1c1c1

    .icon
      margin-bottom: 20px

      svg
        height: 75px
        width: 75px

    .quick_add
      background-color: #fff
      border: 1px solid #3a99d8
      color: #3a99d8
      border-radius: 50px
      outline: none
      text-transform: uppercase
