div(class=s.empty)
  div(class=s.icon)
    include ./shining_sun.svg
  p
    | This workout is missing #{type}
  region(data-name='quick_add')
div(class=s.overview)
  .row
    .col-md-12
      region(data-name='exercises_constructor')
