.gc-workout-header
  h3.gc-workout-title
    span
  .gc-workout-actions
    button.btn.brn-primary.gc-btn-inversed-outline(enter-results)
      | Enter Results
    button.btn.brn-primary.gc-btn-inversed-outline(data-mobile-only)
      | Schedule

region.gc-workout-body(data-name='workout_body')