.row.gc-nav-wrapper
  .col-md-6
    region(data-name='author_widget')

  .col-md-6.text-sm-right
    a.btn.edit
      | Edit
    region(data-name='print_button')
    region(data-name='add_to_library')

.row.row-margin-v
  .col-lg-4.col-lg-offset-0.col-sm-10.col-sm-offset-1.col-xs-12
    region(data-name='video_assigned')

  .col-lg-8.col-lg-offset-0.col-sm-10.col-sm-offset-1.col-xs-12
    span.description
    a.btn(class=s.add_description)
      | Add description

.row.row-margin-v
  .col-md-12
    region(data-name='workout_exercises_constructor')
