.charge-block
  height: 104px
  border: 1px solid lightgrey
  border-radius: 4px
  display: flex
  flex-direction: column
  align-items: center
  padding: 10px

  .charge-sum
    font-size: 27px
    display:flex
    justify-content: flex-start
    span
      font-size: 16px
      padding-top: 7px

  .charge-notice
    font-size: 16px
    margin-top: 5px
    text-align: center
    line-height: 1em

  &:hover
    border-color: dodgerblue
    background-color: snow
    cursor: pointer
    
    .charge-sum
      color: dodgerblue
