@keyframes showMessage
  from
    transform: translateX(50%)
    opacity: 0

  to
    transform: translateX(0)
    opacity: 1

@keyframes hideMessage
  from
    transform: translateX(0)
    opacity: 1

  to
    transform: translateX(50%)
    opacity: 0

ul.messenger.messenger-fixed.messenger-on-right.messenger-theme-gymcloud
  width: 270px
  visibility: visible
  transition: .4s ease-in-out visibility

  &.messenger-empty
    visibility: hidden
    display: block

    .messenger-message-slot
      &:first-child
        animation-name: hideMessage

.messenger-theme-gymcloud

  .messenger-message-slot
    opacity: 0
    width: 270px
    margin-bottom: 15px
    transform: translateX(50%)
    animation-duration: .2s
    animation-fill-mode: both

    &.messenger-shown
      animation-name: showMessage

    .gc-notify-inner
      background: #fff
      width: 270px
      border-left: 5px solid #fff
      border-radius: 3px
      box-shadow: 0 0 5px 0 #999

    .gc-notify-inner

      &-error
        border-color: #e54d42

      &-success
        border-color: #39ca74

      &-info
        border-color: #ff9519

    p
      font-size: 15px
      line-height: 16px
      color: #808080
      margin: -3px 0 0 0
      display: inline-block
      vertical-align: middle
      margin-right: 5px
      width: 206px
      padding: 15px 0

    .gc-notify-icon-wrapper
      display: inline-block
      width: 25px
      height: 25px
      border-radius: 25px
      margin: 15px 14px
      color: #fff
      text-align: center

  .gc-notify-icon-wrapper

    &-error
      background: #e54d42
      font-size: 16px
      line-height: 25px

    &-success
      background: #39ca74
      font-size: 16px
      line-height: 25px

    &-info
      background: #ff9519
      font-size: 16px
      line-height: 25px

.gc-notify-icon-sucess
  display: inline-block
  width: 18px
  height: 18px
  background-image: url('../../images/icon-exercises.png')
  background-size: cover
  background-position: 0 3px
