.video-search-btn
  @keyframes changeColor
    0%, 66%
      color: #ccc
    33%, 100%
      color: #0f82ca

  position: absolute
  top: 2px
  right: 15px
  padding: 10px
  color: #0f82ca
  cursor: pointer

  &:not(.disabled)
    animation: changeColor 1.3s ease-in 0s

  &.disabled
    color: #ccc
    cursor: inherit
    transition color 300ms ease-in

.video-search-input
  border-radius: 20px

.gc-empty-view-content
  margin-bottom: 50px
  font-size: 14px
  color: #9ea0a1
  width: 100%
  min-height: 300px !important

  .gc-start-video-search
    background-image: url('../../images/start-video-search.png')
    margin: 9% 0 10px 48%
    width: 164px
    height: 137px
    background-size: cover

  .gc-empty-video-search
    background-image: url('../../images/empty-video-search.png')
    margin: 14% auto 10px
    width: 53px
    height: 53px
    background-size: cover

  .gc-search-text
    margin: 0 auto
    width: 200px
    text-align: center

  .gc-no-results
    color: #e54d42

  .gc-no-videos-uploaded
    margin-top: 150px
