.gc-program-empty-state
  .gc-program-empty-icon
  p
    | Looks like you haven't created
    br
    | any week or workout

  .row
    .col-xs-12.col-lg-12

      region(data-name='quick_add')

      .buttons
        button.add-week.btn.btn-primary.gc-btn-primary-outline
          | Add new week
        button.add-workout.btn.btn-primary.gc-btn-primary-outline
          | Add new workout