.row
  .col-lg-8.col-md-8.col-sm-8.col-xs-8
    region(data-name='video_assigned')

    .text-sm-right
      .text-sm-right
        region(data-name='author_widget')
      region(data-name='editable_textarea')
  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    region(data-name='personal_best')