header.gc-header-standard.gc-header-login
  .container
    .gc-login-form-wrapper.col-sm-6.cal-xs-12
      h1.text-center
        | Find a Pro
      form.gc-signup-form(role="form")

        .row.find-a-pro

        .row.gc-trainer-invite-title
          p
            | You will be able to sign into your account when you are matched with a Pro.
          p
            | In the meantime, checkout the GymCloud blog.

        .row.form-group.text-center
          a.btn.gc-invite-btn.gc-form-submit-button(href='https://www.gymcloud.com/blog')
            | GO TO GYMCLOUD BLOG
