div(class=s.question_number)
  | Question 8

div(class=s.title)
  | What aspect of your life do you believe is preventing you from reaching your fitness goals?

textarea(autofocus=true, required=true, rows=3)
