nav.row.gc-nav-wrapper.gc-workspace-nav
  .col-sm-6.property-list-title
    h2
      | My Video Library
  .col-sm-6.text-sm-right
    region(data-name='navigation_content_tabs')
.gc-workspace-content
  region(data-name='page_content')
