.col-xs-10
  //- label.gc-exercises-chb
    input(type='checkbox', data-id=id)
  a.gc-exercises-link.gc-exercises-link-workouts
    span.gc-trainer-list-icon
    span.name
.col-xs-2.text-right
  a.gc-exercises-assign-btn-del
    span.gc-icon-trash
