svg(viewbox='0 1 10 9')
  path.stroke.default(d='M2 8 A 4 4 0 1 1 8 8')
  //- For managing progress, change first number in stroke-dasharray:
  path.stroke.progress(d='M2 8 A 4 4 0 1 1 8 8', style='stroke-dasharray: 0 20')
.content(data-toggle='tooltip', data-placement='auto')
  span.counter
  span.counter-text