ul.pull-right(class=s.gc_workout_exercise_property_list)

button.pull-right.btn.btn-primary.gc-custom(class=s.gc_assign_property)
  | assign

p.pull-right(class=s.gc_constructor_empty_state)
  | Add Group exercise properties (such as sets, reps, etc.)

a.gc-btn-round.gc-btn-plus.pull-right(class=s.gc_add_property_button)
