.row.gc-nav-wrapper.without-shadow
  .col-sm-6
    a.gc-content-nav-back
      span.fa.fa-chevron-left
    region(data-name='breadcrumbs')
  .col-xs-12.col-sm-6.text-sm-right
    region(data-name='navigation_content_tabs')
    region(data-name='add_to_library')
    region(data-name='actions_dropdown')
.gc-nav-wrapper
  region(data-name='program_action_panel')
.gc-workspace-content.program
  region(data-name='page_content')
.gc-nav-wrapper.bottom-programm
  region(data-name='program_action_panel_bottom')