.modal-dialog.modal-md.gc-presets-wizard
  .modal-content.gc-remove-modal
    .modal-header.presets-modal-header
      i.enveloper-icon
      h4.modal-title.preset-modal-title
        | Select Your Account Type
    .modal-body.account-type-body
      region.account-type-list-region(data-name='user_account_types')
    .modal-footer.account-type-footer
      span.account-type-descr
        | You can always change Account Type in your profile
      a.btn.btn-primary.gc-custom.change-account-type
        | Next