nav.row.gc-nav-wrapper.gc-workspace-nav
  .col-lg-12.property-list-title
    h2
      | Properties
    .suggest-property
      span
        | Not Enough?
      a.btn.btn-link(
        target='_blank'
        href='https://gymcloud.freshdesk.com/support/tickets/new'
      )
        | SUGGEST A PROPERTY
.gc-workspace-content
  region(data-name='page_content')
