.row.gc-nav-wrapper.without-shadow
  .col-sm-12
    a.gc-content-nav-back
      span.fa.fa-chevron-left
    region(data-name='breadcrumbs')
.row.gc-nav-wrapper
  region(data-name='program_action_panel')
.gc-workspace-content.personal-programs
  region(data-name='page_content')
