.gc-privacy-toggle

  label
    background: #ccc
    color: #999
    border-radius: 50px 0 0 50px
    border: #ccc solid 1px
    font-size: 12px
    text-transform: uppercase
    text-align: center
    line-height: 16px
    min-width: 64px

    + label
      border-radius: 0 50px 50px 0

    &:hover,
    &:active,
    &:focus,
    &.active
      background: #fff
      color: #3a99d8
