label.btn.btn-primary.role-on
  input(type='radio', name='attr', value='true')
  span
    | Public

label.btn.btn-primary.role-off
  input(type='radio', name='attr', value='false')
  span
    | Private
