.row.gc-manage-video-upload
  region.video-search(class=user_id ? 'col-xs-12' : 'col-xs-10')
  if !user_id
    .col-xs-2
      button.btn.btn-primary.gc-custom.btn-block.btn-sm.gc-upload-video
        i.gc-icon.upload
        | upload video

region(data-name='videos').clearfix
region(data-name='pagination')
