:local .clients_item
  cursor: pointer
  padding: 0 15px

  .avatar
    width: 24px
    height: 24px
    border-radius: 50px
    margin: 20px 5px 20px 0
    float: left
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    &.individual
      background-image: url('../../../../images/client-avatar-placeholder.svg')

    &.group
      background-image: url('../../../../images/clients-group-avatar.svg')
