button.btn.gc-btn-link.quick-add
  span
    unless isIconHidden()
      i.fa.fa-plus
    span

.gc-exercises-assign-input-wrapper
  input.gc-exercises-assign-input.form-control.live-search.gc-auto-complete(type='text')
