:local .list_empty
  text-align: center

  p
    font-size: 12px
    color: #cbcacb
    line-height: 15px

  .btn
    background: #fff
    color: #3a99d8
    border-color: #3a99d8
    text-transform: uppercase
    font-size: 12px
    line-height: 20px
    border-radius: 50px
    padding: 4px 8px

    &:hover,
    &:active,
    &:focus
      color: #3a99d8
      border-color: #3a99d8