img(src='app/images/icon-folder.png', alt='icon-folder')
p
  | You dont have 
  br
  |  anything inside this folder.
a.btn.btn-link.show-client-form(class=s.btn)
  span.fa.fa-plus
  | Add #{clientType}
