.row.row-margin-v
  .col-md-12
    region(data-name='editable_textarea')

.row
  region(data-name='program_weeks')

.row
  region(data-name='program_workouts')

.row
  region(data-name='program_empty')

.col-md-12.text-right
  region(data-name='privacy_toggle2')