div(class=s.title)
  p
    | We are in the process of pairing you with your fitness professional. Once selected, he or she will message you on the GymCloud app (typically within 48 hours).
  p
    | At this time, we recommend that you download the mobile app. If you wish, you can begin the Movement Quality Assessment in the Workout Section.

div(class=s.download_links)
  a(href='https://itunes.apple.com/us/app/gymcloud/id1004581098', target='_blank')
    include ./appstore.svg

  a(href='https://play.google.com/store/apps/details?id=com.gymcloud.mobile', target='_blank')
    include ./googleplay.svg