.col-xs-12
  .row.gc-properties-list-header
    .col-xs-3
      | Property Name
    .col-xs-4.table-item
      | Value Type
    .col-xs-2.table-item
      | Visibility
  ul.gc-properties-list.draggable-container
