.container
  .gc-login-form-wrapper.col-sm-6.cal-xs-12
    h1
      | Checking your Promo Code!
    form.gc-signup-form

      .row(class=s.title)
        | Get Your Free Fitness Assessment ($59 Value).

      .row(class=s.description)
        | We are giving you the same $59 Fitness Assessment outlined on our website for free.
