header.header
  i.workout-icon
  .workout-info
    span.title
      | Next Workout:
    span.workout-date
      b.date
      = " at "
      b.time
  .owl-controls.clickable
    .owl-buttons
      .owl-prev
        | Prev
      .owl-next
        | Next
.content
  span.title
    | Workout
  a.workout-link(href="#")