.col-xs-7
  span(data-name='is_in_my_library')
  a.gc-clients-list-client-link
  span.gc-exercises-item-play-icon
.gc-avatar-wrapper.gc-search-entity-field.col-xs-3
  region(data-name='avatar')
  a.gc-clients-list-client-link
.gc-search-entity-field.col-xs-2.actions
  span.gc-entity-download-count 0
  button.btn.gc-btn.gc-add-to-library-button.hidden Add to library
.gc-search-entity-field.col-xs-2.text-right
