.authentication
  margin: 10px 0

  .facebook-provider
    background-color: #1f57b5

  .google-provider
    background-color: #dd4b39

  .provider
    width: 30px
    height: 30px
    border-radius: 4px
    font-size: 15px
    line-height: 30px
    text-align: center

    .fa
      color: #fff

  .auth-info
    margin-left: 10px

  .provider,
  .auth-info,
  .remove-auth
    display: inline-block

  .remove-auth
    margin-left: 10px

    .glyphicon-remove
      font-size: 10px
      color: #3a99d8
      cursor: pointer