region(data-name='user_profile_stats_widget')
.row.gc-nav-wrapper
  .col-sm-8
    a.gc-content-nav-back
      span.fa.fa-chevron-left
    .name
  .col-xs-12.col-sm-4.text-sm-right
    .date
    nav
      ul.pagination.gc-pagination-bordered
        li.prev
          a(href='#', title='Previous')
            i.fa.fa-angle-left
        li.next
          a(href='#', title='Next')
            i.fa.fa-angle-right

.gc-workspace-content
  region(data-name='page_content')
