.gc-video-player
  .gc-video-preview
    i.gc-video-play
  .gc-video-details
    h5.gc-video-title.pull-left
    if !user_id
      i.gc-icon-trash.pull-right
    .clearfix
    | Uploaded: 
    span.gc-video-uploaded-at
    div
      span.gc-video-timer
        i.gc-video-time-icon
        span.gc-video-duration
