.col-xs-12.item
  a.gc-exercises-link
    span.gc-client-item-icon
    span.name
  span.workout
    | FROM
    a.gc-workout-link
  .col-xs-12.text-right.schedule-buttons
    a.btn.btn-link.gc-exercises-assign-btn(data-mobile-only, href='#')
      | Schedule
    a.btn.btn-link.gc-exercises-assign-btn(enter-results, href='#')
      | Enter results