.row.flex-center-aligment
  .col-md-4
    span
      | Add new result
  .col-md-8
    .workouts-result-inputs
      region(data-name="new_exercise_result_items")
      button.gc-btn-round.gc-btn-plus.add-result-submit(type='submit')