.col-xs-12.col-sm-8.item
  label.gc-exercises-chb
    input(type='checkbox')
  i.fa.fa-folder-o.gc-exercises-folder-icon
  span.gc-exercises-item-icon
  a.gc-exercises-link

.col-xs-12.col-sm-4.text-sm-right
  span.gc-exercises-update-time
