.gc-program-actions
  display: inline

.gc-workout-actions-button
  position: relative
  top: -3px
  width: 25px
  height: 25px
  padding: 6px
  text-align: center
  border: 0

.gc-nav-wrapper
  .gc-workout-actions-button
    background: transparent url('../../images/chevron-down-grey.svg') no-repeat
    background-size: contain
    border: none
    margin-top: 5px
    background-color: transparent
    box-shadow: none
    color: #fff
    padding: 4px 0px
    height: 25px
    width: 25px

.gc-actions-list
  margin: 0 15px 0 -5px
  padding: 5px 15px
  a
    &:hover
      cursor: pointer
