header.gc-header-standard.gc-header-login
  .container
    .gc-login-form-wrapper.col-sm-6.cal-xs-12
      h1.text-center
        | Find a Pro
      form.gc-signup-form(role="form")

        .row.waiting-gymcloud-pro

        .row.gc-trainer-invite-title
          | We're in the process of matching you with a Fitness Pro.
        .row.gc-trainer-invite-title
          | We'll send you an email notification. Thanks for your patience.

        .row.form-group.text-center
            a.btn.gc-invite-btn.gc-form-submit-button(href='#login')
              | BACK TO SIGN IN
