<nav class="gc-calendar-nav row">
  <div class="col-xs-7 gc-calendar-nav-date">
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-link">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button class="btn btn-default btn-link">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <p>Tuesday, September 30, 2014</p>
  </div>
  <div class="col-xs-5 gc-calendar-nav-views text-right">
    <div class="btn-group" role="group">
      <a data-nav-view="day" class="btn btn-link calendar-nav active" href="#">Day</a>
      <a data-nav-view="week" href="#" class="btn btn-link calendar-nav">Week</a>
      <a data-nav-view="month" href="#" class="btn btn-link calendar-nav">Month</a>
    </div>
  </div>
</nav>
<div id="calendar-content">
</div>
