<div class="gc-calendar-week-view">
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">9:00 AM</div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">10:00 AM</div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">11:00 AM</div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">12:00 AM</div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">13:00 AM</div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">14:00 AM</div>
    </div>
    <div class="row gc-calendar-week-time">
      <div class="col-xs-12">15:00 AM</div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Sun<br/>9/28
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Mon<br/>9/29
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Tue<br/>9/30
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Wed<br/>10/01
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Thu<br/>10/02
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Fri<br/>10/03
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-18 gc-calendar-week-day">
    <div class="row gc-calendar-week-date">
      <div class="col-xs-12">
        Sat<br/>10/04
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12">
        <p><a href="#">Barbell press</a></p>
        <p><a href="#">Stair climbing</a></p>
      </div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
    <div class="row gc-calendar-week-hour">
      <div class="col-xs-12"></div>
    </div>
  </div>
</div>
