.gc-exercises-cell.gc-workout-exercise-circle-cell
  span.line-top
  span.line-bottom
  span.gc-workout-exercise-circle

.gc-exercises-cell.gc-exercise-details
  .gc-exercise-item-detail
    a.gc-workout-exercise-name
    span.gc-workout-exercise-note

.gc-exercises-cell.gc-cell-property
  region(data-name='exercise_properties')