<nav class="gc-calendar-nav gc-clientpage-calendar-nav row">
  <div class="col-xs-7 gc-calendar-nav-date">
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-link">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button class="btn btn-default btn-link">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <p>Tuesday, September 30, 2014</p>
  </div>
  <div class="col-xs-5 gc-calendar-nav-views text-right">
    <div class="btn-group" role="group">
      <a class="btn btn-link active">Day</a>
      <a href="/#user/id/1/calendar/week/1/" class="btn btn-link">Week</a>
      <a href="/#user/id/1/calendar/month/1/" class="btn btn-link">Month</a>
    </div>
  </div>
</nav>
<ul class="gc-calendar-day-view">
  <li>
    <div>1:30 AM</div>
    <div>
      <p><a href="#">Crunches - Free Weight</a></p>
      <p><a href="#">Crunches - Stability Balt</a></p>
    </div>
  </li>
  <li>
    <div>1:30 AM</div>
    <div>
    </div>
  </li>
  <li>
    <div>2:30 AM</div>
    <div>
    </div>
  </li>
  <li>
    <div>3:30 AM</div>
    <div>
    </div>
  </li>
  <li>
    <div>4:30 AM</div>
    <div>
      <p><a href="#">Barbell press</a></p>
      <p><a href="#">Captains chair - Free weight</a></p>
    </div>
  </li>
</ul>
