<nav class="gc-calendar-nav gc-clientpage-calendar-nav row">
  <div class="col-xs-7 gc-calendar-nav-date">
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-link">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button class="btn btn-default btn-link">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <p>August 2014</p>
  </div>
  <div class="col-xs-5 gc-calendar-nav-views text-right">
    <div class="btn-group" role="group">
      <a href="/#user/id/1/calendar/day/1/" class="btn btn-link">Day</a>
      <a href="/#user/id/1/calendar/week/1/" class="btn btn-link">Week</a>
      <a class="btn btn-link active">Month</a>
    </div>
  </div>
</nav>
<div class="row gc-calendar-month-week-days">
  <div class="col-xs-17">Mon</div>
  <div class="col-xs-17">Tue</div>
  <div class="col-xs-17">Wed</div>
  <div class="col-xs-17">Thu</div>
  <div class="col-xs-17">Fri</div>
  <div class="col-xs-17">Sat</div>
  <div class="col-xs-17">Sun</div>
</div>
<ul class="gc-calendar-month-view">
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">1</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">2</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">3</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">4</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">5</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">6</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">7</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">8</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">9</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">10</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">11</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">12</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">13</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">14</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">15</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">16</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">17</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">18</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">19</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">20</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">21</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">22</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">23</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">24</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">25</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">26</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">27</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">28</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">29</div>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">30</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
  <li class="col-xs-17 gc-calendar-month-day">
    <div class="gc-calendar-month-date text-right">31</div>
    <p><a href="#">Barbell press</a></p>
    <p><a href="#">Stair climbing</a></p>
  </li>
</ul>
