h2
.description
.cert-progress-block
  .certificate-info
    i.icon
    span.certificate-file-name
  .upload-progress
    .progress-status
      span(data-progress)
    button.btn.cancel-btn
label.cert-upload-area
  input(
    type='file',
    name='file',
    accept='application/pdf,application/x-pdf,image/*'
  )
.success-block
  .icon
  .success-message
    | Your certification was successfully loaded and will appear in your profile.