.gc-property-view.gc-workout-exercise-prop
  .btn-group.gc-property-view.gc-property(role='group')
    span.btn.btn-sm.btn-primary.gc-custom.gc-property-label.readable
      i.gc-icon-bars
      | &nbsp;
      span.gc-property-value-name-label