header.gc-header-standard.gc-header-login
  .container
    .gc-login-form-wrapper.col-sm-6.cal-xs-12
      h1.text-center
        | Invite Your Pro
      form.gc-signup-form(role='form')

        .row.invite-sent-icon

        .row.gc-trainer-invite-title
          | An invitation has been sent to your Fitness Pro.

        .row.gc-trainer-invite-title
          | You will be able to log into your account when your Pro responds. Your free trial begins after your account is activated.

        .row.form-group.text-center
            a.btn.gc-invite-btn.gc-form-submit-button(href='#login')
              | Back To Sign In
