header.gc-header-standard.gc-header-login
  .container
    .gc-login-form-wrapper.col-sm-6.cal-xs-12
      h1.text-center
        | Certification Required
      form.gc-signup-form(role='form')

        .row
          region(data-name='certificate_upload')
        .row.form-group.text-center
            button.btn.btn-default(type='submit')
              | Back To Homepage
