.gc-rating-widget

  display: inline-block
  vertical-align: top

  .count
    color: #cbcbcb
    font-size: 12px

  .stars
    display: inline-block
    list-style-type: none
    padding-left: 10px
    margin: 0

    li
      display: inline-block

      i
        color: #ffc800

  .used
    color: #cbcbcb
    font-size: 12px
    margin-bottom: 0

    i
      color: #3a99d8
      font-size: 10px
      margin: 0 2px
