div
  span.count
    | 25
  ul.stars
    li
      i.fa.fa-star
    li
      i.fa.fa-star
    li
      i.fa.fa-star
    li
      i.fa.fa-star
    li
      i.fa.fa-star-o

p.used
  | Used by
  i.glyphicon.glyphicon-user
  |  250
