header.gc-header-standard.gc-header-login
  .container
    .col-xs-12.col-sm-6.gc-login-form-wrapper
      h1.text-center
        | Your Free Trial has Ended
      form.flex-form.gc-login-form(role="form")
        .trial-ended-img-mock
        .trial-ended-price
          span.currency
            | $
          span.price
            | 5.99
          span.term
            | /mo
        p.enter-payment-info
          | Enter your payment information to continue using the GymCloud fitness platform.
        a.btn.btn-default.gc-form-submit-button(href='#payments/info')
          | Enter payment info
        .padding-block
