.gc-clientpage-exercises
  overflow-x: hidden

  .gc-client-item-icon
    height: 25px
    margin-right: 16px

  .item
    display: flex
    align-items: center
    flex-wrap: nowrap
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    .gc-exercises-link
      max-width: 70%

    .workout
      margin-left: 5px

      .gc-workout-link
        margin-left: 5px
        color: #3a99d8

        :hover
          color: #282d30

.gc-client-item-icon-exercises
  background: transparent url('../../images/icon-exercises.png') -22px 0 no-repeat
  background-size: 200%

.gc-client-item-icon-personal_workouts
  background: transparent url('../../images/icon-workouts.png') -15px 3px no-repeat
  background-size: 180%

.gc-client-item-icon-personal_warmups
  background: transparent url('../../images/icon-warmups.svg') 1px 3px no-repeat
  height: 25px
  width: 22px
  background-size: 80%

.gc-client-item-icon-personal_cooldowns
  background: transparent url('../../images/icon-cooldowns.svg') 1px 3px no-repeat
  height: 25px
  width: 22px
  background-size: 80%

.gc-client-item-icon-personal_programs
  background: transparent url('../../images/icon-programs.png') -13px 4px no-repeat
  background-size: 170%

.gc-client-assignments-empty
  position: absolute
  top: 50%
  width: 160px
  left: 50%
  margin-left: -80px
  text-align: center

  p
    font-size: 14px
    line-height: 16px
    color: #c1c1c1
