.gc-video-assigned-wrapper
  .gc-video-player
    .gc-video-preview
      .iframe
        iframe(
          hidden='true'
          allowfullscreen=''
        )
      i.gc-video-play
      span.gc-video-duration
  .gc-video-controls
    a.gc-video-link(target='_blank')
      span.name
      i.gc-video-icon
      span.type
    span.gc-video-uploaded-at-wrapper
      | Uploaded:
      span.gc-video-uploaded-at
    span.gc-video-replace
      | REPLACE VIDEO
    span.gc-icon-trash(role='delete-video')

.gc-video-assigned-placeholder.own-entity.text-center
  .placeholder-icon
    i.glyphicon.glyphicon-play
  p.video-processing
    | Video was uploaded and is being processing
    br
    | Please check it in 2 minutes
  p.no-video
    span
      | A description and video have not been assigned to this
    span=' '
    span.entity-type
      | exercise
    br
    | Contact your Fitness Professional
  button.btn.btn-primary.gc-add-video
    | Assign video
