.workout-exercise-properties
  float: right

.gc-property-item
  display: block
  float: left
  padding: 5px

  &.empty
    color: #d0cfd0

.gc-property-view

  .glyphicon-remove
    height: 15px
    width: 13px
    visibility: hidden

  .gc-remove
    background: none
    padding: 6px 6px 6px 0
    font-size: 12px
    color red
    border-left: 0

  .gc-property-label
    border-right: 0
    cursor: text
    padding: 1px 16px 1px 10px

    &.readable
      border-right: 1px solid

  &:hover
    border-color #3a99d8

    .glyphicon-remove
      visibility: visible
      color: red

.gc-workout-exercise-prop
  color: #99a6ac
  font: 400 14px / 21px 'Source Sans Pro'
  text-align: right
  display: inline-block

  i.fa
    margin-right: 11px

.gc-property
  margin 10px 0

  .btn-primary.gc-custom:active
    background-color: #fff
    color: $blue_color

  .gc-save
    padding 5px 10px
    font-weight 300
    color green

  .gc-icon-bars
    background-image url('../../../images/prototypes/property-bars-icon.png')
    background-repeat no-repeat
    background-position center
    height: 10px
    width: 10px
    display: inline-block

  .gc-remove
    font-size 12px

  &.editable

    .gc-remove
      font-size 19px
      padding: 0px 10px

    .gc-value
      padding-right: 0
      cursor: text

      .gc-property-value
        min-width: 15px
        height: 13px
        padding-right: 5px

    .btn span
      height: 12px
      color: black

    .open .btn span
      color: white

.gc-property-value-name-label
  display: inline-flex
  height: 28px
  width: 100%
  margin-left: -23px
  padding-left: 24px
  align-items: center
  border-bottom-left-radius: 50px
  border-top-left-radius: 50px
