.gc-usercard-large.row.account_type(class='gc-client-card')
  .col-xs-9
    .gc-usercard-avatar.groups-avatar
      .image-container
        img
      input.upload-avatar(type='file', accept='img/*')
      .avatar-overlay
        .note
          span.fa.fa-plus
          br
          | Upload
          br
          | photo
    .gc-usercard-info
      h1.gc-usercard-name
      p.gc-usercard-address
      input.gc-usercard-link(type='text', readonly='readonly')
      .btn-group.gc-usercard-actions(role='group')
        button.btn.btn-default.show-client-form
          | Edit
  .col-xs-3.gc-usercard-params.text-right
#gc-edit-client-modal.modal.fade.gc-modal
