.finish-block
  .lock-img-mock
  p.secure-payment.no-margin
    | This is a secure 128-bit SSL
    br
    | encrypted payment.
  .space-filler
  button.btn.btn-default.no-margin(type="submit")
    | Finish