.payment-notice
  span.bucks-sign
    | $
  span.bucks-count
    | 5.99
  p
    = 'Charged '
    span.charge-recurrence
      | monthly
    = ' for '
    span.plan-name
      | Fitness Professional Subscription
    = ' '
    | Plan. See
    = ' '
    a(href="#", target="_blank")
      | Pricing page
    = ' '
    | for additional payment terms and information.