form.payment-info
  display: flex
  flex-direction: column
  padding: 10px 0

  .payment-notice
    display: flex
    flex-direction: row
    align-items: center
    background-color: #f6f5f0
    border-radius: 3px
    padding: 10px 20px

    span
      color: #1c80cb
      font-weight: bold
      &.bucks-sign
        font-size: 18px
        margin-right: 6px
        align-self: flex-start
        line-height: 1.2em
      &.bucks-count
        font-size: 30px
        margin-right: 12px
        align-self: flex-start
        line-height: 0.9em

    p
      font-size: 12px
      line-height: 1.2em
      margin: 0px

  .no-padding
    padding: 0px !important
  .no-margin
    margin: 0px !important

  .expiration-n-security-code
    position: relative
    display: flex
    flex-direction: row
    align-items: flex-end

    .gc-caret
      height: 21px !important
      padding-top: 2px !important

  .expiration-month
    width: 120px
  .expiration-year
    width: 100px

  .divider
    width: 20px
    color: #bbb
    padding-bottom: 28px
    padding-left: 7px

  .security-code
    width: 135px
    margin-left: 10px

    input
      height: 34px

  .question-in-circle
    position: absolute
    right: 5px
    top: 3px
    border-radius: 50%
    border: 1px solid #1c80cb
    color: #1c80cb
    width: 16px
    height: 16px
    padding-left: 4px
    padding-bottom: 2px
    line-height: 1.2em
    font-weight: bold

    &:before
      content: ''
      background-image: url(../../../images/security-code-hint.png)
      display: none
      width: 320px
      height: 217px
      position: absolute
      bottom: 5px
      right: -36px

    &:hover
      &:before
        display: block

  .finish-block
    display: flex
    flex-direction: row
    align-items: center

  .lock-img-mock
    background-image: url(../../../images/prototypes/lock.png)
    height: 34px
    width: 27px
    margin-right: 10px

  p.secure-payment
    line-height: 1.1em