.table-container
  table
    thead
      tr
        th
          | Workout
        th
          | Date
        th
          | Time
        if withStatus
          th
            | Status
    tbody

    //- tfoot
      tr
        td.with-load-btn(colspan="4")
          a.load-more-content(href="#")
            | Load more...
